{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "12"
            }
          }
        ]
      ],
      "plugins": []
    },
    "module": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "entry",
            "corejs": "3.22",
            "modules": false
          }
        ]
      ],
      "plugins": []
    }
  },
  "sourceMaps": true
}
